@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');



body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
    font-weight: 700;
    
}

a {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
}

a:hover {
    color: gold;
}

#home a{
    margin-right: 15px;
    padding: 15px;
}
#home .down{
    margin-left: 0;
    margin-top: 30px;
    border-bottom: 2px solid gold;
    width: 130px;
}

.text-brand {
    color: gold;
}


.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid gold;
}

#about a{
    background-color: white;
}

#about .container h1{
    padding-top: -1%;
}
#about h5{
    color: white;
    width: 200px;
}
#about .border{
    margin: 15px;
    padding: 15px;
    border: 2px solid gold !important;
    border-radius: 15px;
}
#about .coloum1 li{
    margin-left: 15px;
}
#project .coloum{
    padding: 10px;
    background-color: black;
    border-radius: 15px;
    border: 2px solid gold;
}
#project .coloum1{
    padding: 10px;
    background-color: black;
    border: 2px solid rgb(213, 180, 16);
    border-radius: 15px;

}
/* NAVBAR */
.navbar {
    background-color:  rgb(30, 29, 29);
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: gold;
}

.navbar .nav-link.active {
    color: gold;
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: 240px;
        background-color: rgb(30, 29, 29);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 4px solid gold;
        border-radius: 10% !important;
        width: 130px;
    }

    /* CONTENT WRAPPER */
    #content-wrapper {
        padding-left:240px;
    }
}

/* BTN */
.btn {
    padding: 12px 28px;
    font-weight: 700;
}

.btn-brand {
    background-color: gold;
    border-color: gold;
    color: black;
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: black;
    color: white;
    border-color: gold;
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color:gold;
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}

/* CONTACT */
#contact .form-control {
    background-color:rgb(1, 1, 1);
    
    color: var(--color-body);
}

#contact .form-control:focus {
    border-color: gold;
    box-shadow: none;
}

#contact .form-control::placeholder {
    color: white;
}

#contact input.form-control {
    height: 44px;
}
#contact  button{
    background-color:black;
    color: white;
    border: 1px solid gold;

}
#contact  button:hover{
    background-color:gold;
    border: 1px solid gold;
}
#contact .social-links{
    margin-top:30px;
}
#contact .social-links a{
    
    padding: 5px;
}
#contact .social-links a:hover{
    color: gold;
}